@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white !important;
}

body {
  background-color: #232323;
  overflow-x: hidden;
}

.header {
  height: 100vh;
  width: 100%;
}
.navbar {
  padding: 15px 18px !important;
}

.logo {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.848) !important;
}

.nav-item {
  margin: 0px 10px;
}

.nav-item .nav-link {
  color: rgba(255, 255, 255, 0.92) !important;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: rgb(255, 129, 57) !important;
  width: 0%;
  height: 3px;
  transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(255, 129, 57) !important;
}
.btn-navbar {
  display: inline-block;
  padding: 10px 43px;
  border: 1px solid rgb(36, 193, 255) !important;
  color: white !important;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(36, 193, 255) !important;
}

.btn-navbar:hover {
  background-color: transparent !important;
  color: rgb(255, 129, 57) !important;
  border: 1px solid rgb(255, 129, 57) !important;
}

/* home section start */

.content-home2 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-heading {
  font-size: 70px;
  font-weight: 700;
  line-height: 74px;
}

.home-span {
  color: rgb(255, 129, 57) !important;
}

.para-home {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.42) !important;
  max-width: 400px;
  line-height: 24px;
  margin: 14px 0px;
}

.home-links {
  display: inline-block;
  text-decoration: none;
  color: white !important;
  border: 1px solid rgb(36, 193, 255) !important;
  background-color: rgb(36, 193, 255) !important;
  margin: 20px 0px;
  margin-right: 7px;
  border-radius: 50px;
  padding: 10px 37px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-2 {
  border: 1px solid rgb(36, 193, 255) !important;
  color: rgb(36, 193, 255) !important;
  background-color: transparent !important;
}

.home-links:hover {
  background-color: transparent !important;
  color: rgb(255, 129, 57) !important;
  border: 1px solid rgb(255, 129, 57) !important;
}

.img-home {
  margin-right: 20px;
  width: 580px;
}

/*  about section css */

.about-us-container {
  width: 100%;
  height: 80vh;
}

.about-us {
  width: 100%;
  height: 320px;
  background-color: rgb(54, 54, 54);
  margin-top: 140px;
  position: relative;
}

.content-about {
  padding: 10px 38px;
}

.heading-about {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 129, 57) !important;
  margin: 10px 0px;
  margin-bottom: 34px;
  position: relative;
}

.heading-about::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57) !important;
  width: 46px;
  height: 2px;
}

.para-about {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.695);
  line-height: 21px;
  margin: 25px 0px;
}

.link-about {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(255, 129, 57, 0.5) !important;
  color: rgb(255, 129, 57) !important;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 8px 22px;
  position: relative;
  z-index: 22;
}

.link-about:hover {
  color: white !important;
}

.span-about {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 129, 57) !important;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.4s ease-in;
}

.link-about:hover .span-about {
  width: 100%;
}

.fa-arrow-right {
  color: rgb(255, 129, 57) !important;
  font-size: 11px;
  margin-left: 5px;
}

.fa-arrow-right:hover {
  color: white !important;
}

.img-about {
  height: 420px;
  width: 50%;
  position: absolute;
  top: -36px;
  right: 20px;
}

/* Product section css */

.product-category {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}

.heading-product {
  font-size: 34px;
  color: rgb(255, 129, 57) !important;
  margin-bottom: 120px;
  position: relative;
}

.heading-product::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57) !important;
  width: 56px;
  height: 2px;
}

.card-product {
  padding: 14px 10px;
  background-color: #242424 !important;
}

.img-card {
  height: 190px !important;
}

.card-title {
  font-size: 14px;
  color: rgb(255, 129, 57) !important;
  width: 100%;
  border-bottom: 1px solid rgb(255, 129, 57);
  padding: 5px 0px;
  margin: 10px 0px;
  margin-bottom: 20px !important;
}

.card-text {
  color: rgba(255, 255, 255, 0.873) !important;
  font-size: 12px;
  line-height: 22px;
}

.btn-product-ctg {
  color: rgb(255, 129, 57) !important;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-product-ctg:hover {
  color: rgb(250, 183, 144) !important;
}
